main {
  display: flex;
  flex-direction: column;
  align-items: center;  /* centers the section + title */
}

section {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

section .weather {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
   width: 160px; 
}

.weather span {
  font-weight: bold;
}
